<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Initapp</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <% meta_content = meta_tags(@meta_tags || {}) %>
    <title><%= meta_content[:title] %></title>
    <meta name="description" content="<%= meta_content[:description] %>">
    <meta name="keywords" content="<%= meta_content[:keywords] %>">
    
    <meta property="og:title" content="<%= meta_content[:og][:title] %>">
    <meta property="og:description" content="<%= meta_content[:og][:description] %>">
    <meta property="og:image" content="<%= meta_content[:og][:image] %>">
    <meta property="og:url" content="<%= meta_content[:og][:url] %>">
    <meta property="og:type" content="<%= meta_content[:og][:type] %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
